<%-  include('./partials/header.ejs')   %>
<body>
    <h2> Welcome from home page!!!!!!!!!!!!</h2>

    <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-success" href="/login" >Login</a><br> 
    <a class="btn btn-success" href="/signup" >Signup</a>
    </div>
</body>
</html>